body{
    width: 100%;
    height: 100%;
}

#questions{
    text-align: center;
    position: absolute;
    top:400px;
}

#firstPage{
    padding:20px;
    color: white;
    position: relative;
    background-image: url(assets/firstwall.jpg);   
    width: 375px;
    height: 740px;
}

#menu{
    display: none;
    position: relative;
    background-color: #2c2a2b;
    width: 375px;
    height: 740px;
}




button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
     color: white;     
}

#name{
    color:white;
    position: absolute;
    left:100px;
    top:170px;
    font-size: 18px;

}



#otherMenu{
    position: absolute;
    left:10px;
    top:220px;
   
}

.otherMenu{
    width: 375px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
    padding-top:5px;
}

#prof-image {
    position: absolute;
    left:150px;
    top:80px;
    width: 80px;
    height: 80px;
    background-image: url("assets/gugo.jpeg");
    background-size: cover;
    display: block;
    border-top-left-radius: 125px;
    -webkit-border-top-left-radius: 125px;
    -moz-border-top-left-radius: 125px;
    border-bottom-right-radius: 125px;
    -webkit-border-bottom-right-radius: 125px;
    -moz-border-bottom-right-radius: 125px;
    border-bottom-left-radius: 125px;
    -webkit-border-bottom-left-radius: 125px;
    -moz-border-bottom-left-radius: 125px;
    border-top-right-radius: 125px;
    -webkit-border-bottom-right-radius: 125px;
    -moz-border-top-right-radius: 125px;
    border: solid 2px white;
   }

   /*Startingh zoomed in part*/

   #zoomedIn{
    display: none;

    position: relative;
    background-image: url("assets/zoomIN.jpg");
    width: 375px;
    height: 740px;
}


#orangePart{
    color: white;
    font-size:25px;
    /* background-color: #ffa51d; */
    background-image: url(assets/amaz1.jpg);
    width: 375;
    height: 50px;
    text-align: right;    
}


.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

   
    #prof-imageZoom {
        position: absolute;
        left:30px;
        top:50px;
        width: 300px;
        height: 300px;
        background-image: url("assets/gugo.jpeg");
        background-size: cover;
        display: block;
        border-top-left-radius: 50%;
        -webkit-border-top-left-radius: 50%;
        -moz-border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        -webkit-border-bottom-right-radius: 50%;
        -moz-border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        -webkit-border-bottom-left-radius: 50%;
        -moz-border-bottom-left-radius: 50%;
        border-top-right-radius: 50%;
        -webkit-border-bottom-right-radius: 50%;
        -moz-border-top-right-radius: 50%;
        border: solid 2px white;
    }

    #nameZoom{
        color:black;
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        left:100px;
        top:376px;
        font-size: 18px;
    }

    #onDuty{
        color: whitesmoke;
        font-size:15px;
        background-color: #ff7716;
        width: 70px;
        height: 20px;
        position: absolute;
        left:145px;
        top:430px;
    }


    #time{
        color: black;
        font-size: 15px;
        width: 200px;
        height: 20px;
        left:95px;
        top:470px;
        overflow: hidden;
        position: absolute;


    }

/*Ready Part*/


    #readyP{
    display: none;
    position: relative;
    /* background-image: url("assets/zoomIN.jpg"); */
    background-color: white;
    width: 375px;
    height: 740px;

    }

    #ready{
        position: absolute;
        top: 380px;
        left:10px;
    }

    #grey{
        background-color: #484848;
        width: 375px;
        height: 200px;
        color:white; 
        padding:10px;
    }

    #grey2{
        background-color: #484848;
        width: 375px;
        height: 40px;
        color:white; 
        padding:10px;
        padding-left: 15px;
    }

    #WFM{
        background-color: white;
        width: 375px;
        height: 40px;
        font-size: 20px;
        padding-left: 15px;
        border-bottom: solid 1px gray;

    }

    #shelfs{
        padding: 10px;
    }
    #scan{
        position: absolute;
        width:375px;
        height: 60px;
        top: 630px;
        background-color: #ff7716;
        text-align: center;
        padding-top: 10px;
        font-size: 13px;
    }

    #toMain{
        background-color: #2c2a2b;
        width: 375px;
        height: 50px;
        font-size: 35px;
        color: white;
        
    }

    #dropMenu{
        background-color: unset;

    }

    #toMain2{
        background-color: #2c2a2b;
        width: 375px;
        height: 50px;
        font-size: 35px;
    }